/** Import Files **/
@use "tailwindcss/base";
@use "tailwindcss/components";
@use "tailwindcss/utilities";

// Theme
@use "./_theme" as theme;

// Root Veriables
:root {
  // Site Direction & Mode
  --direction: #{theme.$direction};
  --mode: #{theme.$mode};

  // Common Colors
  --white: #{theme.$white};
  --black: #{theme.$black};

  // Primary Colors
  --primary-main: #{theme.$primary-main};
  --primary-light: #{theme.$primary-light};
  // --primary-dark: #{theme.$primary-dark};

  // Secondary Colors
  --secondary-main: #{theme.$secondary-main};
  --secondary-light: #{theme.$secondary-light};
  // --secondary-dark: #{theme.$secondary-dark};

  // Success Colors
  --success-main: #{theme.$success-main};
  --success-light: #{theme.$success-light};
  // --success-dark: #{theme.$success-dark};

  // Text Colors
  --text-primary: #{theme.$text-primary};
  --text-secondary: #{theme.$text-secondary};

  // Background & Paper
  --paper: #{theme.$paper};
  --background-default: #{theme.$background-default};

  // Typography
  --html-font-size: #{theme.$html-font-size};
  --font-family-primary: #{theme.$font-family-primary};
  --font-size: #{theme.$font-size};
  --font-weight-thin: #{theme.$font-weight-thin};
  --font-weight-extralight: #{theme.$font-weight-extralight};
  --font-weight-light: #{theme.$font-weight-light};
  --font-weight-regular: #{theme.$font-weight-regular};
  --font-weight-medium: #{theme.$font-weight-medium};
  --font-weight-semibold: #{theme.$font-weight-semibold};
  --font-weight-bold: #{theme.$font-weight-bold};
  --font-weight-extrabold: #{theme.$font-weight-extrabold};
  --font-weight-black: #{theme.$font-weight-black};
  --font-family-secondary: #{theme.$font-family-secondary};
}
body {
  background: theme.$white;
  font-size: 14px;
  color: theme.$text-primary;
  font-weight: 400;
  font-family: theme.$font-family-primary;
  margin: 0;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
  font-family: theme.$font-family-primary;
}

a {
  text-decoration: none;
  transition: all ease-in-out .3s;
}

button {
  transition: all ease-in-out .3s;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

img {
  max-width: 100%;
}

/*********** Global Styling ***********/


/*********** Main Styling ***********/

// Wrapper
.wrapper {
  transition: all ease-in-out .3s;  
}

/** Main Header **/
.main-header {
  @apply border-b py-5 md:py-7;
  
  .main-logo {
    @apply font-black text-base sm:text-xl md:text-2xl text-primary-main;
  }

  .main-menu {
    @apply hidden items-center justify-between gap-7 font-medium text-lg text-primary-main lg:flex;
    a {
      color: currentColor;
      position: relative;
      &::after {
        content: "";
        position: absolute;
        bottom: -10px;
        left: 0;
        width: 100%;
        height: 2px;
        transition: all ease-in-out .3s;
        @apply bg-sky-400 opacity-0	invisible;
      }
      &:hover {
        @apply text-sky-400;
        &::after {
          bottom: -37px;
          @apply opacity-100	visible;
        }
      }
      &.active {
        @apply text-sky-400;
        &::after {
          bottom: -37px;
          @apply opacity-100	visible;
        }
      }
    }
  }
  
  .user-menu {
    @apply flex items-center justify-between gap-3 sm:gap-5 md:gap-7 text-primary-main;
    a {
      color: currentColor;
      svg {
        @apply w-[18px] h-[18px] sm:w-[22px] sm:h-[22px];
        fill: currentColor;
      }
      &:hover {
        @apply text-sky-400;
      }
    }

    .mobile-menu-btn {
      button {
        color: currentColor;
        svg {
          @apply w-[18px] h-[18px] sm:w-[22px] sm:h-[22px];
          fill: currentColor;
        }
        &:hover {
          @apply text-sky-400;
        }
      }
    }

    .btn {
      transition: all ease-in-out .3s;
      @apply border border-sky-400 rounded-full p-[7.5px] md:p-[9.5px] min-w-[55px] sm:min-w-[70px] md:min-w-[90px] bg-sky-400 text-white text-xs sm:text-sm md:text-base font-bold;
      &:hover {
      @apply bg-white text-sky-400;
      }
    }
  }
}
/** Main Header End **/

/** Main Footer **/
.main-footer {
  @apply text-center border-t py-[30px] px-[20px];
}
/** Main Footer End **/

/** Main Mobile Menu **/
.main-mobile-menu {
  transition: all ease-in-out .3s;
  @apply fixed top-0 left-0 flex items-start justify-end w-full h-full bg-[rgba(0,0,0,.3)] opacity-0 invisible lg:hidden;
  &.show {
    @apply opacity-100 visible;
  }
  .close-btn {
    @apply relative text-sky-400;
    svg {
      fill: currentColor;
      @apply w-[20px] h-[20px];
    }
  }
  .main-menu {
    @apply flex flex-col gap-5 font-medium text-lg text-primary-main;
    a {
      color: currentColor;
      position: relative;
      display: block;
      &::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 2px;
        transition: all ease-in-out .3s;
        @apply bg-sky-400 opacity-0	invisible;
      }
      &:hover {
        @apply text-sky-400;
        &::after {
          bottom: -10px;
          @apply opacity-100	visible;
        }
      }
      &.active {
        @apply text-sky-400;
        &::after {
          bottom: -10px;
          @apply opacity-100	visible;
        }
      }
    }
  }
}
/** Main Mobile Menu End **/

/** Product Card **/
.product-card {
  &:hover {
    // @apply shadow-[0px_34px_72px_-74px_rgba(0,0,0,.7)];
    @apply shadow-[0px_44px_62px_-64px_rgba(56,189,248,.6)];
    img {
      transform: scale(1.3);
    }
  }

  &-image {
    @apply w-full sm:aspect-square overflow-hidden rounded-2xl;
    @media (max-width: 640px) {
      height: 400px;
    }

    img {
      transition: all ease-in-out .3s;
      @apply w-full h-full object-cover;
    }
    // @media (max-width: 640px) {
    //   max-height: 300px;
    // }
  }

  &-body {
    @apply p-4;
  }
  
  &-title {
    @apply text-lg font-bold text-primary-main;
  }

  &-category {
    @apply text-sm text-gray-500;
  }

  &-price {
    @apply text-primary-main font-bold;
  }
}
/** Product Card ENd **/
